<!-- templates/pickupCompleted.html -->
<h1 class="title">Pickup Completed</h1>

<div class="summary-item">
  <img src="/FoodRecovery/icons/requestdetail.png" alt="Event Icon">  
  <div>
    <p>Request Details Number: <span id="request-details-number"></span></p>
    <img src="/FoodRecovery/icons/greencheck.png" alt="Check Icon" >
  </div>
</div>

<button class="btn btn-primary return-dashboard-button" id="return-to-dashboard-link">Return to Dashboard</button>
<script>
  $(document).ready(function() {
    function updateRequestDetails() {
      let selectedRequests = localStorage.getItem('selectedRequests');
      if (selectedRequests) {
        selectedRequests = JSON.parse(selectedRequests);
        let requestInfo = selectedRequests.join(', ');
        document.getElementById("request-details-number").textContent = requestInfo; 
      } else {
        document.getElementById("request-details-number").textContent = "N/A";
      }
    }

    updateRequestDetails();

    $('#return-to-dashboard-link').click(function(event) {
      event.preventDefault();
      loadContent('volunteerdashboard');
    });
  });
</script>
